{% load static %}
<!DOCTYPE html>
<html lang="en">
    <header id='header'>
      <div id='logo-container'>
        <h1>servermon</h1>
      </div>
      <link rel="stylesheet" type="text/css" href="{% static "servermon/css/style.css" %}">
    </header>

    <body>
    {% block content %}{% endblock content %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static "servermon/js/main.js" %}?v=1"></script>
    </body>
</html>
  