{% load static %}

        {% for obj in object_list %}
             <br/>
             <br/>
             <div class="system-info">
               <p>System:</p>
               <hr>
               <ul>
                <li>Computer Name: {{ obj.name }}</li>
                <li>Processor: {{ obj.processor }}</li>
                <li>Installed memory: {{ obj.memory }}</li>
                <li>System Type: {{ obj.system }}</li>
               </ul>
               <p>Network:</p>
               <hr>
               <ul>
                 <li>FQDN: {{ obj.system }}</li>
                 <li>IP Address: {{ obj.ipaddress }}</li>
                 <li>MAC Address: {{ obj.mac }}</li>
               </ul>
            </div>
        {% endfor %}
             <div class="software-installed">
               <p>Software List</p>
               <hr>
               <ul>
               {% for item in software_list %}
                <li>{{ item }}</li>
               {% endfor %}
               </ul>
            </div>
             <div class="terminal">
               <p></p>
            </div>
           </div>
