{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <title>ServerSurveillance</title>
    <link rel="stylesheet" type="text/css" href="{% static "servermon/css/style.css" %}">
  </head>
  <body>
   <div class="container-fluid">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

        <nav class="navbar navbar-default">
            <div class="nav-header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand minifyLogo" href="#">
                            <img alt="NCR" src="{% static "servermon/assets/NCR.png" %}">
                        </a>
                        <span class="ss-brand minifyLogo">
                            <span>ServerSurveillance</span>
                        </span>
				
                    </div>
                </div>
            </div>
        </nav>
 	<div class="row">
 		<div class="col-md-2">
		</div>
 		<div class="col-md-8">
		    <div class="input-group">
                <div class="input-group-btn search-panel dropdown dropdown-lg">
                    
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    	<span id="search_concept">Filter by:</span> <span class="caret"></span>
                    </button>
					<div class="dropdown-menu dropdown-menu-left" role="menu">
						<form class="form-horizontal" role="form">
						  <div class="form-group">
							<label for="filter">Filter by</label>
							<select class="form-control">
								<option value="0" selected="true">Computer Name</option>
								<option value="1">Operating System</option>
								<option value="2">IP Address</option>
								<option value="3">Software(s)</option>
							</select>
						  </div>
						</form>
					</div>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
		</div>
 		<div class="col-md-2">
		</div>
 	</div>
  	<div class="row">
  		<div class="col-md-2">
  			
  		</div>

  		<div class="col-md-8">
            {% for obj in object_list %}
                <article class="card" onclick="myFunction()">
                  <img class="imgCards" src="{% static "servermon/assets/winserver.png" %}" alt="OS IMAGE">
                  <div class="card-block">
                    <h4 class="card-title">{{ obj.name }}</h4>
                    <p class="card-text">{{ obj.ip }}</p>
                  </div>
                </article>
            {% endfor %}
		</div> <!-- col-md-8 end -->
  		<div class="col-md-2">
  			
  		</div>
	</div>
   </div> <!-- main container-fluid -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
    
    <script>
        function myFunction() {
            $('#myModal').modal({
                show: 'true'
            }); 
        }
    </script>
  <script>
  </body>
</html>