{% load static %}

{% for obj in object_list %}
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">{{ obj.name }}</h2>
        </div>
        <div class="modal-body">
            <div class="card-data">
                <h4 class="list-group-item-heading">System</h4>
                <ul>
                    <li>Processor: {{ obj.processor }}</li>
                    <li>Installed Memory: {{ obj.memory }}</li>
                    <li>System Type: {{ obj.arch }}</li>
                    <li>Operating System: {{ obj.os }}</li>
                </ul>
                <h4>IP Configuration</h4>
                <ul>
                    <li>IP Address: {{ obj.ip }}</li>
                    <li>MAC Address: {{ obj.mac }}</li>
                </ul>
                <div class="term-area">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
{% endfor %}