<!DOCTYPE html>
<html lang="en">
    <header id='header'>
      <div id='logo-container'>
        <h1>servermon</h1>
      </div>
      <div id='filter-container'>
        <span>toggle view</span>
      </div>
      <link rel="stylesheet" type="text/css" href="style.css">
    </header>

    <body>
    <div class='wrapper card-view'>
      <div class='card-container'>
        <figure class='card'>
          <img src="centos.jpg">
          <figcaption>
            <h4>Solaris Machine</h4>
            <span>IP ADDRESS: 100.10.1.0</span>
          </figcaption>
        </figure>
        <figure class='card'>
          <img src="windows.jpg">
          <figcaption>
            <h4>Solaris Machine</h4>
            <span>IP ADDRESS: 100.10.1.0</span>
          </figcaption>
        </figure>
        <figure class='card'>
          <img src="windows.jpg">
          <figcaption>
            <h4>Solaris Machine</h4>
            <span>IP ADDRESS: 100.10.1.0</span>
          </figcaption>
        </figure>
        <figure class='card'>
          <img src="redhat.png">
          <figcaption>
            <h4>Solaris Machine</h4>
            <span>IP ADDRESS: 100.10.1.0</span>
          </figcaption>
        </figure>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="main.js"></script>
    </body>
</html>
  